::ng-deep .mat-tab-group {
  margin-left: 10px;
  margin-right: 10px;
}

::ng-deep .mat-tab-header {
  z-index: 999;
  width: 100%;
  position: fixed !important;
  overflow-scrolling: touch;
  background-color: var(--dark-background);
  left: 0;
}

.floating-submit {
  z-index: 999;
  position: fixed;
  bottom: 30px;
  right: 30px;

  color: var(--dark-background);
  border-radius: 50%;
  height: 6em;
  width: 6em;

  button {
    color: var(--dark-primary-text);
    background-color: var(--primary-color);
    height: 6em;
    width: 6em;
  }

  button.mat-button-disabled {
    color: var(--dark-disabled-text);
    background-color: var(--primary-darker-color);
  }
}

.floating-vote-tracker {
  height: 48px;
  line-height: 48px;
  z-index: 1000;
  position: fixed;
  right: 10px;
}

::ng-deep .mat-tab-body-wrapper {
  position: relative !important;
}

$height-stuff: 48px;

::ng-deep .mat-tab-label {
  height: $height-stuff !important;
}

@media screen and (min-width: 600px) {
  ::ng-deep .mat-tab-body-wrapper {
    margin-top: $height-stuff;
  }
}

@media screen and (max-width: 599px) {
  ::ng-deep .mat-tab-body-wrapper {
    margin-bottom: $height-stuff;
  }

  .floating-submit {
    bottom: 60px;
  }

  .floating-vote-tracker {
    bottom: 0;
  }

  ::ng-deep .mat-tab-header {
    bottom: 0;
  }

  ::ng-deep .mat-ink-bar {
    bottom: 46px !important;
  }
}

.my-upload-border {
  margin: 1em;
}

.no-upload-text {
  margin-top: 10px;
  text-align: center;
}
