.line-container {
  display: flex;
  justify-content: space-between;
}
.image-container {
  display: flex;
  justify-content: center;
}
.artwork-data {
  color: var(--primary-color);
}

@media screen and (max-width: 959px) {
  mat-dialog-content {
    max-height: 90vh;
  }
  .big-image {
    width: auto;
    max-height: 70vh;
  }
}

@media screen and (min-width: 960px) {
  .big-image, mat-dialog-content {
    max-height: 70vh;
  }
}


.big-image {
  max-width: 100%;
}

.button-container {
  button {
    margin-bottom: .5em;
    width: 50%;
  }
}

.bid-form, .reconnect-button {
  margin: .5em;
}

.bid-button-container {
  button {
    width: 100%;
  }
}

.recent-bids-container {
  margin-top: 1em;
}
