<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="2em" class="container"
     fxLayoutAlign="space-evenly">
  <div fxFlex="1 1 50%" fxFlex.gt-sm="10 1 fit-content" class="image-container">
    <img [src]="data.src" [srcset]="data.srcSet" class="big-image"
         [sizes]="'(min-width: 960px) calc(50vw - 88px), calc(100vw-44px)'" alt="'Image'">
  </div>
  <div class="meta-data-display" fxFlex="1 1" fxLayout.gt-md="column" fxLayout="column">
    <div>
      <div>
        <h4>{{data.mintedArtwork.title ?? 'Unknown'}}</h4>
      </div>
      <div>Uploaded by {{data.mintedArtwork.uploader}}</div>
      <br>
      <div class="meta-data-container">
        <div class="line-container">
          <span>LATITUDE</span><span class="artwork-data">{{data.mintedArtwork.latitude}}</span>
        </div>
        <div class="line-container">
          <span>LONGITUDE</span><span class="artwork-data">{{data.mintedArtwork.longitude}}</span>
        </div>
        <div class="button-container" fxLayout="row">
          <button mat-raised-button (click)="showOnMap()">
            <fa-icon [icon]="faMapPin"></fa-icon>
            Show on map
          </button>
          <br>
          <button mat-raised-button [disabled]="false" (click)="copyToClipboard()">
            <fa-icon [icon]="faShareSquare">
            </fa-icon>
            Share Auction
          </button>
        </div>
        <div *ngIf="ipfsUri">
          <a target="_blank" href="{{ipfsUri}}">IPFS</a>
        </div>
        <div *ngIf="metadataUri">
          <a target="_blank" href="{{metadataUri}}">metadata</a>
        </div>
        <div class="line-container">
          <span>Auction End</span><span class="artwork-data">{{timeDisplay}}</span>
        </div>
        <div class="line-container">
          <span>Highest Bid</span><div><span class="artwork-data">{{currentBidString}}</span><span class="tezos-symbol artwork-data">ꜩ</span></div>
        </div>
        <div fxLayout="column" fxLayout.xs="column" fxLayout.sm="row" fxLayoutGap=".25em" fxLayout.gt-md="row" fxLayoutAlign="space-between">
          <span>Highest Bidder</span><span class="artwork-data">{{data.auctionKey.value.bidder}}</span>
        </div>
      </div>
    </div>
    <div *ngIf="!auctionOver else: auctionEnded">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <form class="bid-form">
          <mat-form-field>
            <input
              type="number"
              class="form-control"
              matInput
              name="Bid"
              placeholder="Your Bid"
              [formControl]="bidFormControl" [errorStateMatcher]="bidErrorMatcher"
              min="{{minAuctionBidString}}">
            <div matSuffix> ꜩ</div>
          </mat-form-field>
          <mat-error *ngIf="bidFormControl.hasError('min') && !bidFormControl.hasError('required')">
            You need to bid at least {{minAuctionBidString}}
          </mat-error>
          <mat-error *ngIf="bidFormControl.hasError('required')">
            A bid amount is <strong>required</strong>
          </mat-error>
          <button class="reconnect-button" mat-flat-button (click)="reconnectWallet()">
            Reconnect Wallet
          </button>
        </form>

      </div>
      <div class="bid-button-container">
        <button mat-raised-button (click)="bid(data.auctionKey.key)"
                [disabled]="bidFormControl.hasError('min') || bidFormControl.hasError('required')">
          Bid
        </button>
      </div>
    </div>
    <ng-template #auctionEnded>
      The Auction already ended
    </ng-template>
  </div>
</div>
<div class="recent-bids-container">
  <h3>Recent Bids</h3>
  <div *ngIf="noOtherBids">
    There are no recent bids
  </div>
  <div *ngFor="let bid of bidHistory | async; let lastItem = last;">
    <app-auction-bid [bid]="bid"></app-auction-bid>
    <mat-divider *ngIf="!lastItem"></mat-divider>
  </div>
</div>
