<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2em" class="container"
     fxLayoutAlign="space-evenly">
  <div fxFlex="1 1 50%" fxFlex.gt-sm="10 1 fit-content" class="image-container">
    <img [src]="data.src" [srcset]="data.srcSet" class="big-image"
         [sizes]="'(min-width: 960px) calc(50vw - 88px), calc(100vw-44px)'" alt="'Image'">
  </div>
  <div class="meta-data-display" fxFlex="1 1" fxLayout.gt-md="column" fxLayout="column">
    <app-artwork-data [data]="artworkData"></app-artwork-data>
    <div class="button-container">
      <button mat-raised-button class="small-link" *ngIf="ipfsUri; else: ipfsLoading">
        <a target="_blank" href="{{ipfsUri}}">IPFS</a>
      </button>
      <ng-template #ipfsLoading>
        <button mat-raised-button class="small-link">
          <a>IPFS loading</a>
        </button>
      </ng-template>
      <button mat-raised-button class="small-link small-link-bottom" *ngIf="metadataUri; else: metaDataLoading">
        <a target="_blank" href="{{metadataUri}}">metadata</a>
      </button>
      <ng-template #metaDataLoading>
        <div class="small-link small-link-bottom">
          <a>metadata loading</a>
        </div>
      </ng-template>
    </div>
    <div class="line-container">
      <span>Auction End</span><span class="artwork-data">{{timeDisplay}}</span>
    </div>
    <div *ngIf="noBidsYet; else: weGotBids">
      <div class="line-container">
        <span>Highest Bid</span>
      </div>
      <div class="line-container">
        <span>Highest Bidder</span>
      </div>
    </div>
    <ng-template #weGotBids>
      <div class="line-container">
        <span>Highest Bid</span>
        <div><span class="artwork-data">{{currentBidString}}</span><span class="tezos-symbol artwork-data">ꜩ</span>
        </div>
      </div>
      <div fxLayout="column" fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutGap=".25em"
           fxLayoutAlign="space-between">
        <span>Highest Bidder</span>
        <span *ngIf="walletID !== data.auctionKey.value.bidder; else: highestBidder"
              class="artwork-data">{{data.auctionKey.value.bidder}}</span>
        <ng-template #highestBidder>
          <span class="artwork-data ellipsis-overflow">You ({{data.auctionKey.value.bidder}})</span>
        </ng-template>
      </div>
    </ng-template>
    <div *ngIf="!auctionOver && data.auctionKey.value.uploader !== walletID">
      <mat-form-field class="bid-form">
        <input
          type="number"
          class="form-control"
          matInput
          name="Bid"
          placeholder="Your Bid"
          [formControl]="bidFormControl" [errorStateMatcher]="bidErrorMatcher"
          min="{{minAuctionBidString}}">
        <div matSuffix> ꜩ</div>
      </mat-form-field>
      <button class="reconnect-button" mat-raised-button (click)="reconnectWallet()">
        <fa-icon [icon]="faRedo"></fa-icon>
        Wallet
      </button>
      <mat-error *ngIf="bidFormControl.hasError('min') && !bidFormControl.hasError('required')">
        You need to bid at least {{minAuctionBidString}}
      </mat-error>
      <mat-error *ngIf="bidFormControl.hasError('required')">
        A bid amount is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="bidFormControl.hasError('pattern')">
        6 decimal places max
      </mat-error>
      <div class="bid-button-container">
        <button mat-raised-button (click)="bid(data.auctionKey.key)"
                [disabled]="bidFormControl.hasError('min') || bidFormControl.hasError('required')
                || bidFormControl.hasError('pattern')">
          Place Bid
        </button>
      </div>
    </div>
    <div *ngIf="data.auctionKey.value.uploader === walletID && !auctionOver">
      <br>You cannot bid on your own upload
    </div>
  </div>
</div>
<div class="recent-bids-container">
  <h2>HISTORY</h2>
  <div *ngIf="auctionEndKey">
    <div class="line-container">
      <span>Auction Ended</span><span>{{auctionEndDate}}</span>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div *ngIf="currentBidPending">
    <div class="line-container">
      <span>Your bid is pending</span><span>Reload after some time to see it</span>
    </div>
  </div>
  <div *ngFor="let bid of bidHistory | async">
    <app-auction-bid [userWalletId]="walletID" [bid]="bid"></app-auction-bid>
    <mat-divider></mat-divider>
  </div>
  <div *ngIf="auctionStartKey">
    <div class="line-container">
      <span>Auction Started</span><span>{{auctionStartDate}}</span>
    </div>
  </div>
</div>
