.recent-bids-container {
  margin-top: 1em;
  margin-bottom: 1em;
}

.bid-form, .reconnect-button {
  margin-top: .5em;
  margin-bottom: .5em;
}

.mat-error {
  margin-top: -1em;
}

.mat-form-field {
  width: calc(100% - 100px);
}

.reconnect-button {
  margin-left: .5em;
}

.bid-button-container {
  button {
    width: 100%;
  }
}
