.nav-item {
  align-self: center;
}

.example-spacer {
  flex: 1 1 auto;
}

$toolbar-height: 48px;

mat-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0;
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  height: $toolbar-height;
}

mat-sidenav {
  position: fixed;
  top: $toolbar-height;
  z-index: 900; /* Ensure that your app's content doesn't overlap the toolbar */
}

::ng-deep .mat-badge-content {
  right: -2px !important;
  top: -2px !important;
}

amplify-button > .button {
  text-align: end !important;
}

.notification-menu-item {
  height: 100%;
  max-height: 200px;
  cursor: default;
  line-height: unset;
  white-space: inherit;
}

.icon-column {
  align-self: center;
}

.notification-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  margin-bottom: .5em;
}

.notification-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

::ng-deep .mat-menu-panel.notification-menu {
  max-width: 600px;
  width: 80vw;
}

.seen-notification {
  color: var(--light-disabled-text);
}

.logo {
  font-size: 2em;
  -webkit-text-stroke-width: 1px;
}
