<nav>
  <mat-toolbar>
    <div fxShow="true" fxHide.gt-xs="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
    </div>
    <button mat-button class="nav-item" routerLink="/home">
      <app-bob-text [text]="'navbar.blckbook' | translate">
      </app-bob-text>
    </button>
    <div fxShow="true" fxHide.lt-sm="true">
      <button mat-button class="nav-item" routerLink="/auction">
        {{"navbar.auction" | translate}}
      </button>
      <button mat-button class="nav-item" routerLink="/gallery">
        {{"navbar.gallery" | translate}}
      </button>
      <button *ngIf="isAdmin$ | async" mat-button class="nav-item" routerLink="/admin">
        {{"navbar.admin" | translate}}
      </button>
    </div>
    <span class="example-spacer"></span>
    <button mat-button *ngIf="(authState$ | async) !== 'signedin'; else: profile" routerLink="/login">
      {{"navbar.sign-in" | translate}}
    </button>
    <ng-template #profile>
      <button mat-icon-button class="nav-item" [matMenuTriggerFor]="notificationMenu"
              matBadge="{{unreadNotifications | async}}" matBadgeColor="warn" matBadgePosition="after"
              matBadgeHidden="{{(unreadNotifications | async) === 0}}">
        <fa-icon [icon]="faBell"></fa-icon>
      </button>
      <mat-menu #notificationMenu="matMenu" class="notification-menu">
        <div *ngFor="let notification of (notifications | async)">
          <div class="mat-menu-item notification-menu-item"
               fxLayout="row">
            <div fxLayout="column" fxFlex="1 1 calc(100% - 40px)" (click)="openNotificationsDialog()">
              <h4 class="notification-title" [ngClass]="notification.seen ? 'seen-notification': ''">{{notification.title}}</h4>
              <div class="notification-text" [ngClass]="notification.seen ? 'seen-notification': ''">{{notification.body}}</div>
            </div>
            <div fxFlex="1 1 40px" class="icon-column">
              <button mat-icon-button *ngIf="!notification.seen" (click)="markNotificationAsSeen(notification, $event)">
                <fa-icon [icon]="faCheck"></fa-icon>
              </button>
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>
        <div *ngIf="(notifications | async)?.length === 0; else: expandNotificationsButton" class="mat-menu-item">
          <span>You currently don't have any notifications</span>
        </div>
        <ng-template #expandNotificationsButton>
          <button mat-button class="mat-menu-item" fxLayout="row" fxLayoutAlign="space-evenly center" (click)="openNotificationsDialog()">
            <fa-icon [icon]="faEllipsisH"></fa-icon>
          </button>
        </ng-template>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="profileMenu">
        <fa-icon [icon]="faUserCircle"></fa-icon>
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item routerLink="/wallet">{{'navbar.wallet' | translate}}</button>
        <button mat-menu-item (click)="logOut()">{{'navbar.logout' | translate}}</button>
      </mat-menu>
    </ng-template>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav fxLayout="column" [mode]="'push'">
      <div fxLayout="column">
        <button mat-button class="nav-item" routerLink="/auction">
          {{"navbar.auction" | translate}}
        </button>
        <button mat-button class="nav-item" routerLink="/gallery">
          {{"navbar.gallery" | translate}}
        </button>
        <button mat-button class="nav-item" *ngIf="isAdmin$ | async" routerLink="/admin">
          {{"navbar.admin" | translate}}
        </button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</nav>

