.nav-item {
  padding-right: 1em;
  align-self: center;
}

.example-spacer {
  flex: 1 1 auto;
}

 mat-toolbar {
   position: sticky;
   position: -webkit-sticky; /* For macOS/iOS Safari */
   top: 0;
   z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
 }

