<nav>
  <mat-toolbar>
    <div fxShow="true" fxHide.gt-xs="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
    </div>
    <button mat-button class="nav-item" routerLink="/home">
      <app-bob-text [text]="'navbar.blckbook' | translate">
      </app-bob-text>
    </button>
    <div fxShow="true" fxHide.lt-sm="true">
      <button mat-button class="nav-item" routerLink="/auction">
        {{"navbar.auction" | translate}}
      </button>
      <button mat-button class="nav-item" routerLink="/gallery">
        {{"navbar.gallery" | translate}}
      </button>
    </div>
    <span class="example-spacer"></span>
    <button mat-button *ngIf="(authState$ | async) !== 'signedin'; else: profile" routerLink="/login">
      {{"navbar.sign-in" | translate}}
    </button>
    <ng-template #profile>
      <button mat-icon-button matBadge="1" matBadgeColor="warn" matBadgePosition="after" class="nav-item">
        <fa-icon [icon]="faBell"></fa-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="profileMenu">
        <fa-icon [icon]="faUserCircle"></fa-icon>
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item routerLink="/wallet">{{'navbar.wallet' | translate}}</button >
        <button mat-menu-item (click)="logOut()">{{'navbar.logout' | translate}}</button >
      </mat-menu>

    </ng-template>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav fxLayout="column" [mode]="'push'">
      <div fxLayout="column">
        <button mat-button class="nav-item" routerLink="/auction">
          {{"navbar.auction" | translate}}
        </button>
        <button mat-button class="nav-item" routerLink="/gallery">
          {{"navbar.gallery" | translate}}
        </button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</nav>

