<nav>
  <mat-toolbar>
    <button mat-button class="nav-item" routerLink="/home">
      <app-bob-text [text]="'navbar.blckbook' | translate">
      </app-bob-text>
    </button>
    <button mat-button class="nav-item" routerLink="/auction" class="nav-item">
      {{"navbar.auction" | translate}}
    </button>
    <button mat-button class="nav-item" routerLink="/gallery" class="nav-item">
      {{"navbar.gallery" | translate}}
    </button>
    <span class="example-spacer"></span>
    <button mat-button>
      {{"navbar.sign-in" | translate}}
    </button>
    <button mat-button>
      {{"navbar.sign-up" | translate}}
    </button>
  </mat-toolbar>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
