<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="2em" class="container"
     fxLayoutAlign="space-evenly">
  <div fxFlex="1 1 50%" fxFlex.gt-sm="10 1 fit-content" class="image-container">
    <img [src]="data.src" [srcset]="data.srcSet" class="big-image"
         [sizes]="'(min-width: 960px) calc(50vw - 88px), calc(100vw-44px)'" alt="'Image'">
  </div>
  <div class="meta-data-display" fxFlex="1 1" fxLayout.gt-md="column" fxLayout="column">
    <div>
      <div>
        <h4>{{data.artwork.title ?? 'Unknown'}}</h4>
      </div>
      <div>Uploaded by {{data.artwork.uploader}}</div>
      <br>
      <div class="meta-data-container">
        <div class="line-container">
          <span>LATITUDE</span><span class="artwork-data">{{data.artwork.latitude}}</span>
        </div>
        <div class="line-container">
          <span>LONGITUDE</span><span class="artwork-data">{{data.artwork.longitude}}</span>
        </div>
        <div class="line-container">
          <span>TIMESTAMP</span><span class="artwork-data">{{timeDisplay}}</span>
        </div>
      </div>
    </div>
    <div class="button-container" fxLayout="row">
      <button mat-raised-button (click)="showOnMap()">
        <fa-icon [icon]="faMapPin"></fa-icon>
        Show on map
      </button>
      <br>
      <button mat-raised-button [disabled]="false" (click)="copyToClipboard()">
        <fa-icon [icon]="faShareSquare">
        </fa-icon>
        Share Graffiti
      </button>
    </div>
    <div class="vote-button-container">
      <button mat-raised-button *ngIf="!data.voted" (click)="vote()"
              [disabled]="alreadyVoted$ | async">
        Select for Vote
        <fa-stack>
          <fa-icon [icon]="faSprayCan" stackItemSize="1x"></fa-icon>
        </fa-stack>
      </button>
      <button mat-raised-button *ngIf="data.voted" (click)="unvote()"
              [disabled]="alreadyVoted$ | async">
        Deselect
        <fa-stack>
          <fa-icon [icon]="faSprayCan" stackItemSize="1x"></fa-icon>
          <fa-icon [icon]="faSlash" stackItemSize="2x"></fa-icon>
        </fa-stack>
      </button>
    </div>
  </div>
</div>
