.line-container {
  display: flex;
  justify-content: space-between;
}
.image-container {
  display: flex;
  justify-content: center;
}
.artwork-data {
  color: var(--primary-color);
}


@media screen and (max-width: 959px) {
  mat-dialog-content {
    max-height: 90vh;
  }
  .big-image {
    width: auto;
    max-height: calc(100vh - 260px - 68px - 48px - 10px);
  }
}

@media screen and (min-width: 960px) {
  .big-image, mat-dialog-content {
    max-height: 70vh;
  }
}


.big-image {
  max-width: 100%;
}

.share {
  color: var(--dark-background);
  border-radius: 50%;

  button {
    color: var(--dark-primary-text);
    background-color: var(--primary-color);
    height: 3em;
    width: 3em;
    fa-icon {
      font-size: 1.5em;
    }
  }
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: .5em;
  margin-bottom: .5em;
}
