.vote-button-container {
  margin-top: .5em;
  button {
    width: 100%;
  }
}

.big-image {
  max-height: calc(100vh - var(--navbarheight) - 2em - 182px - 69px) !important;
}

.reconnect-button {
  margin-top: .5em;
}
