<ngx-masonry [options]="myOptions" appScrollTracker (scrollingFinished)="addMoreItems(true)" #masonry (window:resize)="onResize()">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  <div ngxMasonryItem class="masonry-item" *ngFor="let item of masonryItems">
    <button mat-button class="image-button" (click)="imageClick(item)">
      <img src="{{item.img}}" class="masonry-image" srcset="{{item.srcSet}}" sizes="{{sizes}}" alt="{{item.title}}"
           [ngClass]="item.voted ? 'voted-image': ''">
    </button>
    <div class="vote-footer">
      <span>{{item.title}}</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="vote-button" *ngIf="!item.voted" (click)="vote(item)" [disabled]="alreadyVoted$ | async">
        <fa-stack>
          <fa-icon [icon]="faSprayCan" stackItemSize="1x"></fa-icon>
        </fa-stack>
      </button>
      <button mat-icon-button class="vote-button" *ngIf="item.voted" (click)="unvote(item)" [disabled]="alreadyVoted$ | async">
        <fa-stack>
          <fa-icon [icon]="faSprayCan" stackItemSize="1x"></fa-icon>
          <fa-icon [icon]="faSlash" stackItemSize="2x"></fa-icon>
        </fa-stack>
      </button>
    </div>
  </div>
</ngx-masonry>
<mat-spinner *ngIf="currentlyLoading" style="margin:0 auto;"></mat-spinner>
<div *ngIf="scrollType === 'voting-selected' && masonryItems.length === 0">
  <p class="align-center">You don't have items selected yet</p>
</div>
<div *ngIf="!currentlyLoading && masonryItems.length === 0 && scrollType === 'voting'" class="align-center">
  Nothing to vote for
</div>
<!--<div *ngIf="reachedEnd">YOU REACHED THE END</div>-->
