.welcome-line {
  padding-left: 16px;
  padding-top: 16px;
  margin-left: 16px;
  h2 {
    font-size: x-large !important;
  }
}

.my-fa-stack {
  font-size: 5em;
}

.button-container {
  margin: 2em;
}

@media screen and (max-width: 960px) {
  .navigate-button {
    min-height: calc((100vh - 8em - var(--navbarheight) - 52px) / 2);
    height: 100%;
    max-height: calc((100vh - 8em - var(--navbarheight) - 52px) / 2); ;
  }
}

@media screen and (min-width: 960px) {

  .navigate-button {
    height: calc(80vh - 8em);
    min-height: calc(80vh - 8em);
    min-width: calc(50vw - 3em);
    width: calc(50vw - 3em);
  }

  .button-container {
    margin-left: 16px;
    margin-right: 16px;
  }
}

.thumbs {
  height: 106px;
  width: auto;
  padding: 17px;
}
