@import '../../../styles.scss';

.welcome-line {
  padding-left: 2em;
  padding-top: 2em;
}

.navigate-button {
  height: 15em;
  min-height: 220px;
}

.my-fa-stack {
  font-size: 5em;
}

.button-container {
  margin: 2em;
}
