<div class="welcome-line">
  <h2> {{('home.welcome' | translate) + ' ' + (username | async)}}</h2>
</div>
<div class="button-container" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column" fxLayoutGap="2em">
  <button routerLink="/upload" class="navigate-button" mat-flat-button fxFlex="1 1 33%">
    <div>
      <h2>{{startTime + ' - \n' + endTime}} </h2>
    </div>
    <fa-stack class="my-fa-stack">
      <fa-icon [icon]="faImage" stackItemSize="2x"></fa-icon>
    </fa-stack>
    <div>SPOT YOUR TAG THIS WEEK</div>
  </button>
  <button routerLink="/voting" class="navigate-button" mat-flat-button fxFlex="1 1 33%">
    <div>
      <span>Some Voting text</span>
    </div>
  </button>
  <button mat-flat-button class="navigate-button" fxFlex="1 1 33%" [disabled]="true">
    <div>
      <span>Some Territory Text (not available)</span>
    </div>
  </button>
</div>
