.welcome-line {
  padding-left: 2em;
  padding-top: 2em;
}


.my-fa-stack {
  font-size: 5em;
}

.button-container {
  margin: 2em;
}

@media screen and (max-width: 1280px) {
  .navigate-button {
    min-height: calc((100vh - 8em - 48px - 52px) / 3);
  }
}

@media screen and (min-width: 1280px) {

  .navigate-button {
    height: calc(1280px / 3 - 8em);
    min-height: calc(1280px / 3 - 8em);
    min-width: calc(1280px / 3 - 8em);
    width: calc(1280px / 3 - 8em);;
  }

  .button-container {
    margin-left: calc((100vw - 1280px) / 2);
    margin-right: calc((100vw - 1280px) / 2);
  }
}

