<a target="_blank" class="link-button" href="https://t.me/blckbookvote">
  <button mat-icon-button aria-label="telegram">
    <fa-stack>
      <fa-icon [icon]="faTelegram" stackItemSize="2x"></fa-icon>
    </fa-stack>
  </button>
</a>
<a target="_blank" class="link-button" href="https://twitter.com/blckbook2">
  <button mat-icon-button aria-label="twitter">
    <fa-stack>
      <fa-icon [icon]="faTwitter" stackItemSize="2x"></fa-icon>
    </fa-stack>
  </button>
</a>
<a *ngIf="showGithub" target="_blank" class="link-button" href="https://github.com/BLCKBOOK">
  <button mat-icon-button aria-label="github">
    <fa-stack>
      <fa-icon [icon]="faGithub" stackItemSize="2x"></fa-icon>
    </fa-stack>
  </button>
</a>
