<button class="close" mat-button [mat-dialog-close]="true">X</button>
<h1 mat-dialog-title>{{data.header}}</h1>
<div mat-dialog-content>
  <p>{{data.text}}</p>
</div>
<div></div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onCancel()">{{data.cancelText ?? 'Cancel'}}</button>
  <button mat-raised-button [mat-dialog-close]="data.action2 ? 1 : true" cdkFocusInitial>{{data.action}}</button>
  <button *ngIf="data.action2" mat-raised-button [mat-dialog-close]="2" cdkFocusInitial>{{data.action2}}</button>
</div>
