.small-link {
  margin-top: 0.5em;
}

.small-link-bottom {
  margin-bottom: 0.5em;
}

.button-container {
  text-align: center;
  button {
    margin: .5em .25em;
    width: 100%;
    max-width: 140px;
  }
}
