<h2>{{data.titel ?? 'Unknown'}}</h2>
<div>Uploaded by {{data.uploader}}</div>
<br>
<div class="line-container">
  <span>Latitude</span><span class="artwork-data">{{data.latitude}}</span>
</div>
<div class="line-container">
  <span>Longitude</span><span class="artwork-data">{{data.longitude}}</span>
</div>
<div class="button-container">
  <button mat-raised-button (click)="showOnMap()">
    <fa-icon [icon]="faMapPin"></fa-icon>
    Show on map
  </button>
  <button mat-raised-button [disabled]="false" (click)="copyToClipboard()">
    <fa-icon [icon]="faShareSquare">
    </fa-icon>
    {{'Share'}}
  </button>
</div>
