.welcome-line {
  padding-left: 2em;
  padding-top: 2em;
}

.upload-button {
  padding: 2em;
  width: 100%;
  height: 15em;
  min-height: 220px;
}

#fileInput {
  visibility: hidden;
}

.meta-data-display {
  color: white;
}

.meta-input {
  width: 100%;
}

.container {
  margin: 2em;
}

.my-fa-stack {
  font-size: 5em;
}

.terms-button {
  text-decoration: underline;
  padding: 4px 4px 0;
}

.terms-box {
  display: flex;
  align-items: center;
}

.terms-distance {
  padding-left: 8px;
  padding-top: 4px;
}
