.faq-heading-padding {
  padding-left: 16px;
}

.faq-accordion {
  mat-expansion-panel {
    mat-expansion-panel-header {
      mat-panel-title {
        font-size: 1.5em;
      }
    }
  }

  margin-bottom: 16px;
}

@media only screen and (max-width: 800px) {
  .landing-1 {
    --image1: url(/assets/images/landing/background/1_medium.jpg);
  }

  .landing-2 {
    --image2: url(/assets/images/landing/background/2_medium.jpg);
  }

  .landing-3 {
    --image3: url(/assets/images/landing/background/3_medium.jpg);
  }
  .thumb {
    width: 20vw;
    height: auto;
  }

  .okay {
    display: none;
  }

  .clap {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  .landing-1 {
    --image1: url(/assets/images/landing/background/1_medium.jpg);
  }

  .landing-2 {
    --image2: url(/assets/images/landing/background/2_medium.jpg);
  }

  .landing-3 {
    --image3: url(/assets/images/landing/background/3_medium.jpg);
  }
  .thumb {
    width: 139px;
    height: 149px;
  }

  .okay {
    width: 72px;
  }

  .clap {
    width: 58px;
    height: 60px;
  }
}

@media only screen and (min-width: 1200px) {
  .inner-wrapper > div > p {
    width: 50vw;
  }

  .landing-1 {
    --image1: url(/assets/images/landing/background/1_large.jpg);
  }

  .landing-2 {
    --image2: url(/assets/images/landing/background/2_large.jpg);
  }

  .landing-3 {
    --image3: url(/assets/images/landing/background/3_large.jpg);
  }
  .thumb {
    width: 139px;
    height: 149px;
  }

  .okay {
    width: 72px;
  }

  .clap {
    width: 58px;
    height: 60px;
  }
}


.inner-wrapper {
  mat-card-title {
  }

  height: 70vh;
}

.page-wrapper {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.mat-expansion-panel {
  background: black;
}

.step-image {
  width: 33vw;
}

.step-text {
  h3 {
    text-align: center;
  }
}

.first-text > p {
  max-width: 400px;
}

.xtz-logo {
  height: 2em;
  position: absolute;
  bottom: 3em;
  right: 3em;
}

.dark-example {
  width: 33vw;
}

.bag-circle {
  position: absolute;
  right: 4vw;
  height: 10vw;
  width: 10vw;
  top: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: hsl(21deg 51% 71%);
}

.bag {
  height: 8vw;
}

.step-icon {
  position: relative;
}

.mat-expansion-panel-header {
  height: 64px;
}

.landing-1, .landing-2, .landing-3 {
  background-size: cover;
  background-color: rgba(0, 0, 0, 255);
}

.landing-1 {
  background-image:
    linear-gradient(to top, transparent 40%, black 80%),
    linear-gradient(to bottom, transparent 70%, black 90%),
    linear-gradient(to left, transparent 30%, black 100%),
    linear-gradient(to right, transparent 50%, black 100%),
    var(--image1);
  background-position-x: 0, 0, 0 , 0, center; // image scrolls from center
  background-position-y: 0, 0, 0, 0, 0;
}

.landing-2 {
  background-image:
    linear-gradient(to top, transparent 95%, black 100%),
    linear-gradient(to bottom, transparent 70%, black 90%),
    linear-gradient(to left, transparent 30%, black 100%),
    linear-gradient(to right, transparent 50%, black 100%),
    var(--image2);
  background-position-x: 0, 0, 0 , 0, right; // image moves in from the right
  background-position-y: 0, 0, 0, 0, 0; // maybe position the girl always visible
}

.landing-3 {
  background-image:
    linear-gradient(to top, transparent 95%, black 100%),
    linear-gradient(to bottom, transparent 70%, black 90%),
    linear-gradient(to left, transparent 30%, black 100%),
    linear-gradient(to right, transparent 50%, black 100%),
    var(--image3);
  background-position-x: 0, 0, 0 , 0, right; // image moves in from the right
  background-position-y: 0, 0, 0, 0, 0;
}

.welcome-card {
  max-width: unset;
  margin: unset;
}

.drop-shadow {
  filter: drop-shadow(2px 4px 6px black);
}
