<mat-card class="page-wrapper landing-1">
  <div class="inner-wrapper" fxLayout="column" fxLayoutAlign="center">
    <mat-card-title>FIND GRAFFITI.<br>
      MINT NFTS.<br>
      EARN CRYPTO.
    </mat-card-title>
    <div class="first-text">
      <p>BLCKBOOK is an interactive game that let’s you create streetart NFTs while conquering your city and earn
        crypto.
        Launching soon.</p>
    </div>
    <div>
      <button mat-icon-button>
        <fa-stack>
          <fa-icon [icon]="faTelegram" stackItemSize="2x"></fa-icon>
        </fa-stack>
      </button>
      <button mat-icon-button>
        <fa-stack>
          <fa-icon [icon]="faTwitter" stackItemSize="2x"></fa-icon>
        </fa-stack>
      </button>
    </div>
  </div>
  <img src="/assets/images/tezos-xtz-logo.svg" alt="xtz" class="xtz-logo">
</mat-card>
<mat-card class="page-wrapper landing-2">
  <div class="inner-wrapper" fxLayout="column" fxLayoutAlign="center">
    <mat-card-title>UNLIMITED CREATIVITY.<br>
      CONQUER THE STREETS.
    </mat-card-title>
    <div>
      <p>We believe graffiti is the last real art. Undomesticated, wild and full of potential. BLCKBOOK is as much of a
        loveletter to the community of streetart and graffiti as it is a game. There is an unlimited amount of
        creativity
        around you. All you need to is to open your eyes</p>
      <p> BLCKBOOK is a community-based platform. The community decides on which Graffiti gets minted by voting every
        week. </p>
    </div>
  </div>
</mat-card>
<mat-card class="page-wrapper landing-3">
  <div class="inner-wrapper" fxLayout="column" fxLayoutAlign="center">
    <mat-card-title>HOW IT WORKS</mat-card-title>
    <div>
      <p>To succeed in BLCKBOOK, all it takes is for you to see amazing Graffiti and take a photo of it. Every week, the
        best
        Graffiti get auctioned and the finders get to keep the lion’s share. No time to be outside? No problem, just
        vote
        on
        the coolest graffiti and earn crypto that way.
      </p>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="step" fxLayout="column">
        <div class="step-icon">
          <img src="/assets/images/landing/landing-example.png" alt="Example Tag" class="step-image">
        </div>
        <div class="step-text">
          <h3>YOU SPOT A GRAFFITI IN THE CITY AND TAKE A PHOTO</h3>
        </div>
      </div>
      <div class="step" fxLayout="column">
        <div class="step-icon vote-icons" fxLayout="row" fxLayoutAlign="center">
          <img src="/assets/images/landing/thumb.png" alt="Thumb" class="thumb">
          <div fxLayout="column center">
            <img src="/assets/images/landing/okay.png" alt="Okay" class="okay">
            <img src="/assets/images/landing/clap.png" alt="Clap" class="clap">
          </div>
        </div>
        <div class="step-text">
          <h3>YOU GET COMMUNITY VOTES ON YOUR GRAFFITI</h3>
        </div>
      </div>
      <div class="step" fxLayout="column" fxLayoutAlign="center">
        <div class="step-icon">
            <img src="/assets/images/landing/dark-resize.png" alt="Dark Example Tag" class="dark-example">
            <div class="bag-circle" fxLayout="row" fxLayoutAlign="center center">
              <img src="/assets/images/landing/bag.png" alt="Bag" class="bag">
            </div>
        </div>
        <div class="step-text">
          <h3>YOUR GRAFFITI GETS MINTED AND AUCTIONED, YOU EARN CRYPTO</h3>
        </div>
      </div>
    </div>
  </div>
</mat-card>
<mat-card>
  <div class="page-wrapper">
    <mat-card-title class="faq-heading-padding">FAQ</mat-card-title>
    <mat-accordion displayMode="flat" [multi]="true" class="faq-accordion">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            IS BLCKBOOK LEGAL?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Yes. We will only launch in legislations where minting Graffiti is legal in terms of copyright law. In other
          legislations, we intend to cooperate directly with accredited street artists. Painting graffiti yourself is
          illegal however, and we strongly advise against it.</p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            HOW IS IT DETERMINED WHICH GRAFFITI GETS MINTED?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Every week, all players can upload one graffiti of which they take a photo. After the deadline, all players
          get
          to vote on 3 graffitis which they like themselves. The top 10% of graffiti with the most votes then get
          auctioned. </p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            WHO MAKES MONEY WITH BLCKBOOK AND HOW?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>The person that uploads the graffiti gets 60% of earnings generated by the auction. 15% of earnings get
          distributed to all people who voted for the graffiti, 15% of earnings get distributed to the gang that
          controls
          the area the graffiti is located in. The remainder gets distributed to BLCKBOOK. Rates may shift over
          time.</p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            HOW DOES BLCKBOOK RUN ON THE BLOCKCHAIN?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>BLCKBOOK runs on Tezos and all NFTs are based on the FA2 standard. Subsequently, all earnings get paid out in
          TEZ. </p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            HOW DO YOU PREVENT DUPLICATES?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Once a graffiti is minted, the same graffiti can never be minted via BLCKBOOK ever again. We use a
          combination
          of
          Machine learning and manual review to prevent duplicates. During the same voting period, the person who
          photographs the graffiti first counts.</p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            WHEN AND WHERE DOES BLCKBOOK LAUNCH?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>We intend to launch end of the year, and intend to go live in Germany first.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</mat-card>
