<div *ngIf="loading; else: loaded">
  <mat-spinner style="margin:0 auto;"></mat-spinner>
</div>
<ng-template #loaded>
  <mat-checkbox class="admin-control" [(ngModel)]="onlyUnchecked" (change)="uncheckedChanged()">Only show unchecked
  </mat-checkbox>
  <mat-form-field class="admin-control" appearance="outline">
    <mat-label>Image height</mat-label>
    <input type="number" matInput [(ngModel)]="imageHeight">
  </mat-form-field>
  <button mat-button (click)="saveImageHeight()">saveHeight</button>
  <span class="admin-control">Currently displayed: {{artworks.length}}</span>
  <table mat-table [dataSource]="artworks" class="mat-elevation-z8" #table>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let artwork">
        <a href="{{artwork.src}}">
          <button mat-raised-button>
            <img src="{{artwork.src}}" srcset="{{artwork.srcSet}}" height="{{imageHeight}}" alt="no image" [sizes]="'60vw'">
          </button>
        </a>
      </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let artwork"> {{artwork.artwork.title}} </td>
    </ng-container>

    <!-- Show on Map Button Column -->
    <ng-container matColumnDef="showOnMap">
      <th class="small-cell" mat-header-cell *matHeaderCellDef>Map</th>
      <td mat-cell *matCellDef="let artwork">
        <button mat-icon-button (click)="showOnMap(artwork)">
          <fa-icon [icon]="faMapPin"></fa-icon>
        </button>
      </td>
    </ng-container>

    <!-- Approve Button Column -->
    <ng-container matColumnDef="approved">
      <th class="small-cell" mat-header-cell *matHeaderCellDef>Approve</th>
      <td mat-cell *matCellDef="let artwork">
        <mat-checkbox [checked]="artwork.artwork.approvalState === 'approved'"
                      (change)="checkArtwork(artwork, $event)"></mat-checkbox>
      </td>
    </ng-container>

    <!-- Delete Button Column -->
    <ng-container matColumnDef="delete">
      <th class="small-cell" mat-header-cell *matHeaderCellDef>Reject</th>
      <td mat-cell *matCellDef="let artwork">
        <button mat-icon-button (click)="rejectArtwork(artwork)">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>

      </td>
    </ng-container>

    <!-- Ban Button Column -->
    <ng-container matColumnDef="ban">
      <th class="small-cell" mat-header-cell *matHeaderCellDef>Ban</th>
      <td mat-cell *matCellDef="let artwork">
        <button mat-icon-button (click)="banUser(artwork)">
          <fa-icon [icon]="faSkull"></fa-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button class="admin-control" [disabled]="pageCounter === 0" mat-button (click)="getPreviousArtworks()">Get previous</button>
  <button class="admin-control" [disabled]="alreadyReachedEnd" mat-button (click)="getNextArtworks()">Get next</button>
</ng-template>
