<ngx-masonry [options]="myOptions" appScrollTracker (scrollingFinished)="addMoreItems(true)" #masonry
             (window:resize)="onResize()">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  <div ngxMasonryItem class="masonry-item" *ngFor="let item of masonryItems">
    <button mat-button class="image-button" (click)="imageClick(item)">
      <img src="{{item.img}}" class="masonry-image" srcset="{{item.srcSet}}" sizes="{{sizes}}" alt="{{item.title}}">
    </button>
    <div class="auction-footer">
      <span>{{item.title}}</span>
      <ng-template *ngIf="scrollType === 'auction'">
        <span class="example-spacer"></span>
        <span>{{item.tezBidAmount}}</span>
        <span class="tezos-symbol">ꜩ</span>
      </ng-template>
    </div>
  </div>
</ngx-masonry>
<mat-spinner *ngIf="currentlyLoading" style="margin:0 auto;"></mat-spinner>
<div *ngIf="reachedEnd">YOU REACHED THE END</div>
