/* You can add global styles to this file, and also import other style files */

@use '~@angular/material' as mat;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

@font-face {
  font-family: "GT Walsheim";
  src: local("GT-Walsheim-Regular"), url(./assets/fonts/GT-Walsheim-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Bob";
  src: local("bob-regular"), url(./assets/fonts/bob-regular.ttf) format("truetype");
}


$fontConfig: (
  display-4: mat.define-typography-level(112px, 112px, 300, 'Bob', -0.0134em),
  display-3: mat.define-typography-level(56px, 56px, 400, 'Bob', -0.0089em),
  display-2: mat.define-typography-level(45px, 48px, 400, 'GT Walsheim', 0.0000em),
  display-1: mat.define-typography-level(34px, 40px, 400, 'GT Walsheim', 0.0074em),
  headline: mat.define-typography-level(24px, 32px, 400, 'GT Walsheim', 0.0000em),
  title: mat.define-typography-level(20px, 32px, 500, 'GT Walsheim', 0.0075em),
  subheading-2: mat.define-typography-level(16px, 28px, 400, 'GT Walsheim', 0.0094em),
  subheading-1: mat.define-typography-level(15px, 24px, 500, 'GT Walsheim', 0.0067em),
  body-2: mat.define-typography-level(14px, 24px, 500, 'GT Walsheim', 0.0179em),
  body-1: mat.define-typography-level(14px, 20px, 400, 'GT Walsheim', 0.0179em),
  button: mat.define-typography-level(14px, 14px, 500, 'GT Walsheim', 0.0893em),
  caption: mat.define-typography-level(12px, 20px, 400, 'GT Walsheim', 0.0333em),
  input: mat.define-typography-level(inherit, 1.125, 400, 'GT Walsheim', 1.5px)
);

// Foreground Elements

// Light Theme Text
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base:              $light-text,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba($light-text, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-disabled-text,
  secondary-text:    $light-accent-text,
  accent-text:       $light-accent-text,
  icon:              $light-text,
  icons:             $light-text,
  text:              $light-text,
  slider-min:        $light-text,
  slider-off:        rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

// Dark bg
$dark-background:     #000000;
$dark-bg-lighter-5:   lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(#fafafa, 0.04);
$light-bg-alpha-12:   rgba(#fafafa, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
  background:               $dark-background,
  status-bar:               $dark-bg-lighter-20,
  app-bar:                  $dark-bg-lighter-5,
  hover:                    $light-bg-alpha-4,
  card:                     $dark-bg-lighter-5,
  dialog:                   $dark-bg-lighter-5,
  tooltip:                  $dark-bg-lighter-20,
  disabled-button:          $light-bg-alpha-12,
  raised-button:            $dark-bg-lighter-5,
  focused-button:           $light-focused,
  selected-button:          $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle:   $dark-bg-lighter-10,
  unselected-chip:          $dark-bg-lighter-20,
  disabled-list-option:     $dark-bg-lighter-10,
);

// Compute font config
@include mat.core($fontConfig);

$primary-color: #10f3f1;
$primary-lighter-color: #b7fbfb;
$primary-darker-color: #09edeb;


// Theme Config
$mat-primary: (
  main: $primary-color,
  lighter: $primary-lighter-color,
  darker: $primary-darker-color,
  200: $primary-color, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $light-primary-text,
    darker: $light-primary-text,
  )
);
$theme-primary: mat.define-palette($mat-primary, main, lighter, darker);

$mat-accent: (
  main: #797979,
  lighter: #d7d7d7,
  darker: #5c5c5c,
  200: #797979, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-accent: mat.define-palette($mat-accent, main, lighter, darker);

$mat-warn: (
  main: #ff0000,
  lighter: #ffb3b3,
  darker: #ff0000,
  200: #ff0000, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-warn: mat.define-palette($mat-warn, main, lighter, darker);;

$theme: (
  primary: $theme-primary,
  accent: $theme-accent,
  warn: $theme-warn,
  is-dark: true,
  foreground: $mat-dark-theme-foreground,
  background: $mat-dark-theme-background,
);

// Theme Init
@include mat.all-component-themes($theme);

// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0;
  margin: 0;
  min-width: 3em;
  line-height: 36.4px
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

// we don't use material icons atm
/*.material-icons {
  font-size: 24px;
  font-family: 'Material Icons', 'Material Icons';
  .mat-badge-content {
    font-family: 'GT Walsheim';
  }
}*/

body {
  --accent-color: #797979;
  --accent-lighter-color: #d7d7d7;
  --accent-darker-color: #5c5c5c;
  --text-accent-color: #{$light-primary-text};
  --text-accent-lighter-color: #{$light-primary-text};
  --text-accent-darker-color: #{$light-primary-text};

  --primary-color: #{$primary-color};
  --primary-lighter-color: #{$primary-lighter-color};
  --primary-darker-color: #{$primary-darker-color};
  --text-primary-color: #{$light-primary-text};
  --text-primary-lighter-color: #{$light-primary-text};
  --text-primary-darker-color: #{$light-primary-text};

  --warn-color: #ff0000;
  --warn-lighter-color: #ffb3b3;
  --warn-darker-color: #ff0000;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};

  --dark-background: #{$dark-background};
  --dark-background-lighter-5: #{$dark-bg-lighter-5};
  --dark-background-lighter-10: #{$dark-bg-lighter-10};
  --dark-background-lighter-20: #{$dark-bg-lighter-20};
  --dark-background-lighter-30: #{$dark-bg-lighter-30};

  --dark-primary-text: #{$dark-primary-text};
  --dark-disabled-text: #{$dark-disabled-text};
}

:root {
  --amplify-primary-color: #{$dark-text};
  --amplify-primary-tint: #{$dark-text};
  --amplify-primary-shade: #{$dark-text};
  --amplify-primary-contrast: #{$light-primary-text};
  --amplify-secondary-color: #{$primary-color};
  --amplify-secondary-contrast: #{$dark-bg-lighter-20};
  --amplify-secondary-tint: #{$primary-color};
  --amplify-secondary-shade: #{$primary-color};
  --amplify-tertiary-color: #{$dark-bg-lighter-20};
  --amplify-tertiary-contrast: #{$light-primary-text};
  --amplify-tertiary-tint: #{$dark-bg-lighter-20};
  --amplify-tertiary-shade: #{$dark-bg-lighter-20};
  --amplify-grey: #{$light-disabled-text};
  --amplify-light-grey: #{$dark-bg-lighter-10};
  --amplify-white: #{$light-primary-text};
  --amplify-red: #{$dark-text};
  --amplify-background-color: #{$dark-bg-lighter-20};
  --amplify-font-family: "GT Walsheim";
}

html, body {
  margin: 0;
  background: $dark-background;
}

.big-icon {
  font-size: 5em;
}

amplify-input {
  --color: #{$dark-text};
}

input:-webkit-autofill {
  background-color: #212121 !important;
}

.my-snackbar {
  color: #{$light-primary-text};
  background: #{$dark-bg-lighter-30};
  button {
    color: #{$primary-color};
  }
}

