.bob-text {
  font-family: Bob;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: white;
  -webkit-text-fill-color: black;
  font-family: Bob;
  font-size: 1.5em;
}

.upper-text {
  position: absolute;
  top: -.1em;
  left: .0em;
}

.bob-text-wrapper {
  position: relative;
}
