.faq-accordion {
  mat-expansion-panel {
    mat-expansion-panel-header {
      mat-panel-title {
        font-size: 1.5em;
      }
    }
  }
  margin-bottom: 16px;
}

.mat-expansion-panel-header {
  height: 64px;
}

.mat-expansion-panel {
  background: black;
}
