<div class="floating-submit">
  <button mat-icon-button [disabled]="$submitDisabled | async" (click)="submitVote()"> SUBMIT</button>
</div>
<div class="floating-vote-tracker">
  <span>{{$votesSelected | async}} / {{$totalVoteAmount | async}}</span>
</div>
<mat-tab-group mat-align-tabs="center" animationDuration="0ms">
  <mat-tab label="All">
    <ng-template matTabContent>
      <app-scroll [scrollType]="'voting'">
      </app-scroll>
    </ng-template>
  </mat-tab>
  <mat-tab label="{{(alreadyVoted$ | async) ? 'My Votes' : 'Selected'}}">
    <ng-template matTabContent>
      <app-scroll [scrollType]="'voting-selected'">
      </app-scroll>
    </ng-template>
  </mat-tab>
  <mat-tab label="My Upload"></mat-tab>
</mat-tab-group>

