::ng-deep .mat-tab-group {
}

::ng-deep .mat-tab-header {
  z-index: 999;
  width: 100%;
  position: fixed !important;
  background-color: var(--dark-background);
}

::ng-deep .mat-tab-body-wrapper {
  position: relative !important;
  margin-top: 32px;
}

::ng-deep .mat-tab-label {
  height: 32px !important;
}
