<button class="close" mat-button [mat-dialog-close]="true">X</button>
<h1 mat-dialog-title *ngIf="data else: noData">LOCATION</h1>
<ng-template #noData>
  <h1 mat-dialog-title>ADD LOCATION DATA TO YOUR TAG</h1>
</ng-template>
<mat-dialog-content>
  <div style="height: 80vh;" class="leaflet-container"
       leaflet
       [leafletLayers]="markers"
       [leafletOptions]="options" (leafletClick)="mapClick($event)" (leafletMapReady)="onMapReady($event)">
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="">Close</button>
  <button mat-raised-button [mat-dialog-close]="currentLocation" *ngIf="!data?.latlng || data?.changeable" [disabled]="markers.length === 0">Confirm</button>
</mat-dialog-actions>
