<h1 mat-dialog-title *ngIf="data else: noData">Location</h1>
<ng-template #noData>
  <h1 mat-dialog-title>Add Location Data to your Tag</h1>
</ng-template>
<mat-dialog-content>
  <div style="height: 70vh;"
       leaflet
       [leafletLayers]="markers"
       [leafletOptions]="options" (leafletClick)="mapClick($event)">
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="">Close</button>
  <button mat-button [mat-dialog-close]="currentLocation" *ngIf="!data">Use Location</button>
</mat-dialog-actions>
