<div class="footer">
  <mat-card class="footer-content">
    <div class="logo">
      <h4>BLCKBOOK</h4>
      <h3 class="beta-text">BETA</h3>
    </div>
    <app-social-buttons [showGithub]="true"></app-social-buttons>
    <div class="beneath-logo">
      <a routerLink="/terms"><h3>Terms of Use</h3></a>
      <div>
        Created with
        <a target="_blank" href="https://tezostaquito.io/">Taquito</a>,
        <a target="_blank" href="https://www.walletbeacon.io/">Beacon</a>,
        <a target="_blank" href="https://smartpy.io/">SmartPy</a>
      </div>
      <div>
        Powered by <a target="_blank" href="https://tzkt.io/">TzKT API</a>
      </div>
      <div fxLayout="row" fxLayoutAlign="center">
        <div class="powered-by">powered by</div>
        <div>
          <img src="./assets/images/tezos-brand.svg" alt="Tezos" class="xtz-brand">
        </div>
      </div>
    </div>
  </mat-card>
</div>
